{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>index</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta http-equiv="content-launguage" content="ru"/>
		<meta name="author" content="Махмутова Людмила"/>
		<link href="{% static 'css/fight/style.css' %}" rel="stylesheet" media="all"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>			
	</head>
<body>
	<div class="block">
		<p>1</p>
		<h2>Freestyle</h2>
	</div>
	<div class="clear"></div>
	<div class="strana">
		<div class="flag"></div>
		<h1>Rus</h1>
	</div>
	<div class="clear"></div>
	<div class="user">
		<h1>Name</h1>
		<h1>Surname</h1>
	</div>
	<div class="clear"></div>
	<div class="block">
		<p>0:20</p>
	</div>



</body>
</html>	