{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Матч №{{ match.id }}</title>
    <link href="{% static 'css/fight/style.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'css/fight/style-dop.css' %}" rel="stylesheet" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body style="display: table; width: 100%; height: 100vh; text-align: center">
{#<br/>#}
{#<br/>#}<span style="display: table-cell; margin: 0 auto; vertical-align: middle; text-align: center">
{% for e in errors %}
    <p>{{ e }}</p>
        <br/>
        <br/>
{% endfor %}
{#<div style="display: inline-block; width: 32%; vertical-align: middle;"></div>#}
{#<div style="display: inline-block; width: 100%; vertical-align: middle;">#}
    <p>You are logged out. To log in again, click <a href="/fight/login/">here</a>.</p>
{#</div>#}</span>
{#<div style="display: inline-block; width: 32%; vertical-align: middle;"></div>#}
</body>
</html>