{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация участников</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'css/style-dop.css' %}" rel="stylesheet" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body style="display: table; width: 100%; height: 100vh; text-align: center">
{#<div style="display: inline-block; width: 32%; vertical-align: middle;"></div>#}
{#<div style="display: inline-block; vertical-align: middle;">#}
    <form action="/reg/" method="post" style="display: table-cell; vertical-align: middle; margin: 0 auto; text-align: center">
        {% csrf_token %}
<h2 style="font-size: 25px; margin: 0 auto; text-align: center">РЕГИСТРАЦИЯ НА СОРЕВНОВАНИЯ</h2>
    <br/>
    <br/>

    <br/>
        <label for="name">ФИО:</label>
        <input autocomplete="name" id="name" name="name" maxlength="500" placeholder="Вася Пупкин" required><br>
    <br/>

        <label for="country">Страна:</label>
        <input autocomplete="country-name" id="country" name="country" maxlength="50" value="RUS" required><br>
    <br/>

        <label for="gender">Пол:</label>
        <select autocomplete="sex" id="gender" name="gender" required>
            <option selected>M</option>
            <option>F</option>
        </select><br>

    <br/>
        <label for="bday">День рождения:</label>
        <input autocomplete="bday" id="bday" name="bday" type="date" required><br>

    <br/>
        <label for="tech">Уровень:</label>
        <input id="tech" name="tech" maxlength="500" placeholder="NOOB" required><br>
    <br/>
        <br/>
        <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
{% if err %}
    <br/>
    <br/>
    <h2>{{ err }}</h2>
{% endif %}
    {% if res %}
        <br/>
        <br/>
        <h2>{{ res.name }}, Вы успешно зарегестрированы!</h2>
    {% endif %}
    </form>
{#</div>#}
{#<div style="display: inline-block; width: 32%; vertical-align: middle;"></div>#}
</body>
</html>