{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ match }}</title>
    <link href="{% static 'css/fight/style.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'css/fight/style-dop.css' %}" rel="stylesheet" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body style="text-align: center">
{% for e in errors %}
    <p>{{ e }}</p>
{% endfor %}
<br/>
<strong>
    <a href="/fight/{{ match.id }}/"><h1 style="font-size: 40px">МАТЧ №{{ match.id }}</h1></a><br/>
</strong>
<form action="/fight/" method="post">
    {% csrf_token %}
    <label for="match_id">Сменить матч:</label>
    <select id="match_id" name="match_id" required>
        {% for m in all_matches %}
            <option>{{ m }}</option>
        {% endfor %}
    </select>
    <button type="submit">СМЕНИТЬ</button>
</form>
<br/>
{% if super %}
    <div style="display: inline-block; width: 32%; vertical-align: middle;">
        <strong><h2 style="font-size: 15px; text-align: center; margin: 0;">УДАЛИТЬ УЧАСТНИКА</h2></strong>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="del_player">Участник:</label>
            <select id="del_player" name="del_player" required>
                {% for player in players %}
                    <option>{{ player }}</option>
                {% endfor %}
            </select>
            <button type="submit">УДАЛИТЬ</button>
        </form>
        <br/>
        <strong><h2 style="font-size: 15px; text-align: center; margin: 0;">ДОБАВИТЬ УЧАСТНИКА</h2></strong>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="name">ФИО:</label>
            <input autocomplete="name" id="name" name="name" maxlength="500" placeholder="Вася Пупкин" required><br>
            <label for="country">Страна:</label>
            <input autocomplete="country-name" id="country" name="country" maxlength="50" value="RUS" required><br>
            <label for="gender">Пол:</label>
            <select autocomplete="sex" id="gender" name="gender" required><br>
                <option selected>M</option>
                <option>F</option>
            </select>
            <label for="bday">День рождения:</label>
            <input autocomplete="bday" id="bday" name="bday" type="date" required><br>
            <label for="tech">Уровень:</label>
            <input id="tech" name="tech" maxlength="500" placeholder="NOOB" required><br>
            <button type="submit">ДОБАВИТЬ</button>
        </form>
    </div>
    <div style="display: inline-block; width: 32%; vertical-align: middle;">
        <h2 style="font-size: 15px; text-align: center; margin: 0;">УДАЛИТЬ МАТЧ</h2>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="del_match">Удалить матч:</label>
            <select id="del_match" name="del_match" required>
                {% for m in all_matches %}
                    <option>{{ m }}</option>
                {% endfor %}
            </select>
            <button type="submit">УДАЛИТЬ</button>
        </form>
        <br/>
        <h2 style="font-size: 15px; text-align: center; margin: 0;">НАЧАТЬ НОВЫЙ МАТЧ</h2>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="new_match">Название:</label>
            <input id="new_match" name="new_match" maxlength="500" placeholder="Тхеквандо" required><br>
            <label for="match_date">Дата проведения:</label>
            <input id="match_date" name="match_date" type="date" required><br>
            <button type="submit">НАЧАТЬ</button>
        </form>
        <br/>
        <strong><h2 style="font-size: 35px; text-align: center; margin: 0;">АКТИВНЫЙ УЧАСТНИК</h2></strong>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="active">Участник:</label>
            <select id="active" name="active" required>
                <option {% if not match.active %}selected{% endif %}>Никто</option>
                {% for player in players %}
                    <option {% if match.active == player %}selected{% endif %}>{{ player }}</option>
                {% endfor %}
            </select>
            <button type="submit">АКТИВЕН</button>
        </form>
    </div>
    <div style="display: inline-block; width: 32%; vertical-align: middle;">
        <strong><h2 style="font-size: 15px; text-align: center; margin: 0;">УДАЛИТЬ СУДЬЮ</h2></strong>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="del_judge">Судья:</label>
            <select id="del_judge" name="del_judge" required>
                {% for judge in judges %}
                    <option>{{ judge.username }}</option>
                {% endfor %}
            </select>
            <button type="submit">УДАЛИТЬ</button>
        </form>
        <br>
        <strong><h2 style="font-size: 15px; text-align: center; margin: 0;">ДОБАВИТЬ СУДЬЮ</h2></strong>
        <form action="/fight/{{ match.id }}/" method="post">
            {% csrf_token %}
            <label for="add_judge">Username:</label>
            <input id="add_judge" name="add_judge" maxlength="500" placeholder="Judge" required><br>
            <label for="judge_pass">Password:</label>
            <input id="judge_pass" name="judge_pass" maxlength="500" required><br>
            <button type="submit">ДОБАВИТЬ</button>
        </form>
    </div>
{% endif %}
<br/>
<br/>
{#<a href="/fight/{{ match.id }}/top"><h2 style="font-size: 15px; text-align: center; margin: 0;">ТАБЛИЦА РЕЗУЛЬТАТОВ</h2></a>#}
<table style="text-align: center; vertical-align: middle;" id="active_tabel">
    {% if match.active %}
        <tr style="text-align: center; vertical-align: middle;" class="active">
            <td style="text-align: center; vertical-align: middle;">
                <a href="/fight/{% if not super and user.is_authenticated %}new_score/{% endif %}{{ match.id }}/{{ match.active.id }}/{% if super or not user.is_authenticated %}results/{% endif %}"
                   style="text-decoration: none">
                    <strong>0</strong>
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="/fight/{% if not super and user.is_authenticated %}new_score/{% endif %}{{ match.id }}/{{ match.active.id }}/{% if super or not user.is_authenticated %}results/{% endif %}"
                   style="text-decoration: none">
                    {{ match.active }}
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="/fight/{% if not super and user.is_authenticated %}new_score/{% endif %}{{ match.id }}/{{ match.active.id }}/{% if super or not user.is_authenticated %}results/{% endif %}"
                   style="text-decoration: none">
                    <strong>{{ match.active.country }}</strong>
                </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a href="/fight/{% if not super and user.is_authenticated %}new_score/{% endif %}{{ match.id }}/{{ match.active.id }}/{% if super or not user.is_authenticated %}results/{% endif %}"
                   style="text-decoration: none">
                    <strong id="{{ match.active.id }}">{{ match.active_res }}</strong>
                </a>
            </td>
        </tr>
    {% endif %}
    {% for m in matches %}
        {#        {% if match.active.name != m.player %}#}
        <tr style="text-align: center; vertical-align: middle;"> {# class="active" #}
            <td style="text-align: center; vertical-align: middle;"><a href="{{ m.url }}"
                                                                       style="text-decoration: none">{{ m.i }}</a></td>
            <td style="text-align: center; vertical-align: middle;"><a href="{{ m.url }}"
                                                                       style="text-decoration: none">{{ m.player }}</a>
            </td>
            <td style="text-align: center; vertical-align: middle;"><a href="{{ m.url }}"
                                                                       style="text-decoration: none">{{ m.country }}</a>
            </td>
            <td style="text-align: center; vertical-align: middle;"><a href="{{ m.url }}" style="text-decoration: none"
                                                                       id="{{ m.player_id }}">{{ m.score }}</a></td>
        </tr>
        {#        {% endif %}#}
    {% endfor %}
</table>
<br/>
{% if user.is_authenticated %}
    <h3 style="text-align: center; margin: 0;">Вы {{ user.username }}</h3>
    <a href="/fight/logout/"><h2 style="font-size: 25px; text-align: center; margin: 0; width: 100%;">ВЫХОД</h2></a>
{% else %}
    <a href="/fight/login/"><h2 style="font-size: 25px; text-align: center; margin: 0; width: 100%;">ВХОД ДЛЯ СУДЕЙ</h2>
    </a>
{% endif %}
</body>
<script>
    $(document).ready(function () {
        var webSocket = new WebSocket('wss://' + window.location.host + '/fight/{{ match.id }}/');

        webSocket.onmessage = function (message) {
            var data = JSON.parse(message.data);
            {#console.log(data);#}
            if (data.mission === 'active_tabel') {
                {% if user.is_authenticated and not super %}
                    var text = data.message;
                {% else %}
                    if (data.active_id) {
                        var text = data.message.replace(/\/fight\/new_score\/\d+\/\d+\//g, '/fight/{{ match.id }}/' + data.active_id + '/results/');
                    } else {
                        var text = data.message;
                    }
                {% endif %}
                $('#active_tabel').html(text);
            }
            if (data.mission === 'f_score') {
                var fid = '#' + data.f;
                $(fid).text(data.s);
            }
        };
    });
</script>
</html>